* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  display: flex;
  flex: 1;
  gap: 1ch;
}

article {
  padding-left: 3ch;
}

.p1 {
  padding-top: 1ch;
  padding-bottom: 1em;
}

.p2 {
  padding-bottom: 1ch;
}

.p3 {
  padding-top: 1ch;
  padding-bottom: 1em;
}
.testimonial {
  font-style: italic;
  background-color: rgb(223, 213, 213);
  padding-top: 2ch;
  padding-bottom: 2ch;
  padding-left: 2ch;
}
