header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1ch;
}

.brand {
  color: rgb(145, 25, 25);
  font-size: 2em;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  font-weight: 1000;
}

.top-nav-bar {
  display: flex;
  gap: 1ch;
  flex-wrap: wrap;
}

.button {
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 1ch;
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(219, 214, 214);
  transition: background-color 1s;
}
